@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <p>User must be of role type Teacher or above in order to access this area. If you believe you should have access please contact your service Administrator</p>
</div>